* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --speak: #ccf3de;
}
body {
  /* background-image: linear-gradient(315deg, #63d471 0%, #233329 74%); */
  background-color: #233329;
  overflow-x: hidden;
  display: flex;
}
.wd-50 {
  width: 50%;
}
/* .section_1 {
  
} */
.cli-container {
  /* background: #d0d5dfbf; */
  background-color: black;

  width: 90%;
  border-radius: 4px;
  margin: 5vh auto;
  color: wheat;
  height: fit-content;
}
.cli-container:focus-within {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: #0c0a0a;
  box-shadow: 0 8px 32px 0 #f5f5f55e;
  color: #f7eded;
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}
.cli-container:focus-within .location-txt {
  color: #1eff29;
}
.cli-head {
  padding: 10px 0px 8px 14px;
}
.cli-head .dot {
  background-color: wheat;
  padding: 5px;
  display: inline-block;
  opacity: 0.5;
  margin-right: 5px;
  border-radius: 50%;
}
.cli-body {
  padding: 1px 14px 60px 25px;
  font-weight: bold;
  /* color: #c0c0c0; */
  word-wrap: break-word;
  overflow-y: auto;
  height: 80vh;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace !important;
}
.cli-container:focus-within .cli-head .dot:nth-child(1) {
  background-color: red;
}
.cli-container:focus-within .cli-head .dot:nth-child(2) {
  background-color: rgb(250, 172, 28);
}
.cli-container:focus-within .cli-head .dot:nth-child(3) {
  background-color: rgb(86, 243, 72);
}
.cli-body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #a5a19e;
}

.cli-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.cli-body::-webkit-scrollbar-thumb {
  background-color: #525252;
  /* outline: 1px solid slategrey; */
}

.cli-body span {
  display: block;
  width: fit-content;
}
.cli-body .location-txt {
  color: #118d11;
  overflow: hidden;
}
.cli-body::selection {
  background-color: wheat;
  color: black;
}
textarea {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.cli-commands,
.cli-res {
  font-weight: 100;
}
.cli-res {
  color: #b5aca0;
  font-size: 14px;
  white-space: pre-line;
}
.cli-res.err {
  color: red;
}
.animation {
  border-right: 1px solid white;
  padding-right: 3px;
  animation: cursor 0.6s infinite alternate;
}

.section_2 {
  display: flex;
  flex-direction: column;
  gap: 50px;

  font-weight: bold;
  font-family: monospace;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.speaking_ {
  margin-top: 5%;
  height: 20vh;
  width: 20vh;
  border: 2px solid #3c343d;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #cbf9de;
  filter: drop-shadow(2px 4px 6px black);
  text-align: center;
}
.speaking_:hover {
  filter: drop-shadow(2px 4px 6px #8b708f);
  border: 2px solid #8b708f;
}

.speak {
  animation: speaking 0.6s infinite alternate;
}
@keyframes speaking {
  0% {
    box-shadow: 0px 0px 0px 0px black;
    filter: drop-shadow(0px 0px 1px black);
  }
  25% {
    box-shadow: 0px 0px 20px 20px var(--speak);
    filter: drop-shadow(0px 0px 2px black);
  }
  50% {
    box-shadow: 0px 0px 10px 10px var(--speak);
    filter: drop-shadow(0px 0px 3px black);
  }
  75% {
    box-shadow: 0px 0px 30px 30px var(--speak);
    filter: drop-shadow(0px 0px 4px black);
  }
  100% {
    box-shadow: 0px 0px 10px 10px var(--speak);
    filter: drop-shadow(0px 0px 5px black);
  }
}
.query_content {
  margin-top: 60px;
  color: #cbf9de;
  font-size: 26px;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  padding-right: 5px;
  filter: drop-shadow(2px 4px 6px black);
  overflow: hidden;
  transform-origin: left;
  text-align: center;
  text-transform: uppercase;
}
.query_content:hover {
  filter: drop-shadow(2px 4px 6px rgb(70, 68, 68));
}
.blinker::after {
  content: "|";
  animation: blink 0.5s infinite alternate;
}
@keyframes blink {
  50% {
    color: transparent;
  }
}
.weather-container {
  float: right;
  margin-right: 4vw;
  width: 90%;

  margin-top: 5vh;
  height: fit-content;
  padding: 12px;

  /* background-color: #d0d5dfbf; */
  background-color: #97a9ccbf;
  border-radius: 12px;
  border: 1px solid #ffffff20;

  display: flex;
  flex-direction: column;
  /* color: #6b6b96; */
  color: #525292;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.weather-container:hover {
  color: #4b4b9c;
  background-color: #d0d5dfbf;
  backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 0 8px 32px 0 #f5f5f55e;
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}
.weather-today {
  display: flex;
  justify-content: space-between;
}
.weather-container img {
  height: 71%;
  width: 60px;
  margin-right: 10px;
}
.temp-info span {
  display: block;
}

.weather-future {
  display: flex;
  background-color: #643964bf;
  border-radius: 6px;
  padding: 13px;
  margin-top: 10px;
  color: #1e0408;
  /* height: 12vh; */
  gap: 5px;
}
.weather-future span {
  border-right: 2px solid black;
  padding-right: 10px;
}
.weather-container:hover .weather-future {
  background-color: #422542bf;
}
